<div class="page-header">
    <h1>ABOUT</h1><hr>
</div>

<angular-image-slider class="box-slide" [images]="imagesUrl"></angular-image-slider>

<br>
<p style="text-align : center;">
    สวัสดี, เราชื่อ "ไฟท์" เป็นโปรแกรมเมอร์กากๆ<br>
    ที่ฝันอยากจะเป็น Developer Full-Stack<br>
    แต่ไม่รู้บุญหรือกรรมใด ทำให้เราได้มาเขียน power builder <br>
    ซึ่งไม่เกี่ยวกับการเขียนเว็บใดๆทั้งสิ้น สิ่งที่ได้จากที่ทำงานตอนนี้หน่ะเหรอ<br>
    SQL Server อย่างเดียวแหละ <b>หวังว่าซักวันความฝันเราจะเป็นจริง</b><br>
</p>
